RewriteEngine On
RewriteBase /backend/public/

# Redireciona todas as requisições para o index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]
